div.error {
  padding: 10px;
  background: white;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
  border: 5px solid red;
  width: fit-content;
}
input.error {
  border: 2px solid red;
}

body{
  background-color: rgb(148, 106, 109);
  padding: 10px;
}
.title{
  text-decoration: none;
}

.workouts{
  
}
.header    {
 display: flex;
 justify-content: space-between;
 align-items: center;

}
a{
  text-decoration:none ;
 
}

.home{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

form.create{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 100px;
  gap: 10px;

}
.meal{
  margin: 10px;
  margin-left: 40px;
}

label{

  color:white;
  font-size: 30px;
}
.box{
  width: 20px;
}

input{
  border: none;
  outline: none;
  width: 225px;
  padding: 15px;
  font-size: 15pt;
  border-radius: 20px;
}
.heading-box{
  width: max-content;
  background-color: silver;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10% ;
  font-size: 30px;

}
.top-right{
  display: flex;

  margin-right: 40px;
  gap: 40px;
}
.meal-display{
background-color: rgb(243, 217, 220);
padding: 10px;
  margin-right: 400px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.display-heading{
  margin-top: -20px;
}
.display-main{
 
  margin-top: -20px;

}
.display-btn{
  display: flex;
  justify-content: space-around;
}

.user-forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
 align-items: center;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover state */
.btn:hover {
  background-color: #0056b3;
}

/* Button active state (when clicked) */
.btn:active {
  background-color: #0042a2;
}